@font-face {
    font-family: comfortana;
    src: url("../fonts/Comfortaa/Comfortana-VariableFont_wght.ttf");
}

:root {
    --yellow: #FEB50D;
}

* {
    font-family: comfortana, serif;
}

::selection {
    background: var(--yellow);
    color: #191C1F;
}

[type=radio] {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

[type=radio] + i {
    cursor: pointer;
}

[type=radio]:checked + i {
    color: var(--yellow);
}

#chartContainer {
    height: 357px;
}

.hidden {
    display: none;
}

#v-pills-tab-wiki > .nav-link {
    color: var(--yellow);
    border: 1px solid var(--yellow);
}

#v-pills-tab-wiki > .nav-pills, #v-pills-tab-wiki > .nav-link.active, #v-pills-tab-wiki > .nav-link:hover, #v-pills-tab-wiki > .nav-pills .show > .nav-link {
    color: black;
    background-color: var(--yellow);
}