@font-face {
    font-family: comfortana;
    src: url("../fonts/Comfortaa/Comfortana-VariableFont_wght.ttf");
}

* {
    font-family: comfortana, serif;
}

::selection {
    background: #FEB50D;
    color: #191C1F;
}
