<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Session</title>
	<link rel="icon" th:href="@{/images/icon.png}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css} ">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="bg-dark text-light m-3">

<th:block th:insert="~{fragments::navbar(2)}"></th:block>

<h1 class="text-center" th:text="${type.toString().toLowerCase()} + ' '+ session "></h1>
<hr>

</body>
</html>
