<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Session Feedback</title>
	<link rel="icon" th:href="@{/images/icon.png}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css} ">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="bg-dark text-light m-3">

<th:block th:insert="~{fragments::navbar(0)}"></th:block>

<h1 class="text-center">Feedback</h1>
<hr>
<main class="pt-5 m-2 m-auto d-flex justify-content-center align-items-center">

	<form method="post" th:action="@{/newsession/submit-feedback}" th:object="${sessionFeedback}">

		<div class=" has-validation">
			<div th:class="${#fields.hasErrors('satisfactionLevel')?'is-invalid':''}">
				<label th:each="feedback: ${T(be.kdg.eirene.model.SatisfactionLevel).values()}"
					   th:for="*{satisfactionLevel}"
				>
					<input th:field="*{satisfactionLevel}"
						   th:value="${feedback}"
						   type="radio"
					>
					<img alt="Rating level" class="mx-2" th:src="${feedback.getImageSrc()}">
				</label>
			</div>
			<div class="invalid-feedback"
				 th:if="${#fields.hasErrors('satisfactionLevel')}"
				 th:text="${#fields.errors('satisfactionLevel').get(0).toString()}"
			>
			</div>
		</div>
		<label class="form-label w-100 mt-2" for="session">Would you like to name your session?</label>
		<input class="form-control form-control-lg border-0 bg-black text-light w-100" id="session" name="session"
			   placeholder="Session Name (optional)" th:field="*{sessionName}"
		/>
		<div class="d-flex justify-content-between">
			<button class="btn btn-warning mt-2" type="submit">Save session</button>
			<a class="btn btn-outline-warning mt-2" th:href="@{/newsession/discard-session}">Discard session</a>
		</div>
	</form>
</main>
</body>
</html>
