<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Profile</title>
	<link rel="icon" th:href="@{/images/icon.png}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css} ">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="bg-dark text-light m-3">
<th:block th:insert="~{fragments::navbar(1)}"></th:block>
<h1 class="text-center">Welcome,
	<th:block th:text="${user.name}+'!'"></th:block>
</h1>
<main>
	<hr>
	<article class="d-flex flex-row justify-content-around">
		<div>
			<h3>Total session time</h3>
			<p class="fs-1 text-center"
			   th:text="${totalDuration.toHours()}+':'+${#numbers.formatInteger(totalDuration.toMinutes() % 60, 2)}"
			></p>
		</div>
		<div>
			<h3>Average session time</h3>
			<p class="fs-1 text-center"
			   th:text="${averageDuration.toHours()}+':'+${#numbers.formatInteger(averageDuration.toMinutes() % 60, 2)}"
			>XX:XX</p>
		</div>
		<div>
			<h3>Total sessions</h3>
			<p class="fs-1 text-center" th:text="${#lists.size(user.getSessionHistory())}"></p>
		</div>
	</article>
	<hr>
	<article class="d-flex flex-row justify-content-around my-5">
		<a class="btn btn-outline-warning fs-2" th:href="@{/newsession(type=${meditation})}">Start meditation
																							 session
		</a>
		<a class="btn btn-outline-warning fs-2" th:href="@{/newsession(type=${focus})}">Start focus session</a>
	</article>
</main>

</body>
</html>
